package ${package}.${moduleName}.entity;

import javax.persistence.Id;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.util.Date;

/**
 * ${comments}
 *
 * @author ${author}
 * @since ${version} ${date}
 */
@Data
public class ${className} implements Serializable {

	private static final long serialVersionUID = 1L;
#foreach ($column in $columns)

    /**
     * $column.comments
     */
#if($column.columnName == 'id')
	@Id
#end
	@ApiModelProperty("$column.comments")
	private $column.attrType $column.attrname;
#end
}